body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1530px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1530px;
  height:994px;
  background:inherit;
  background-color:rgba(128, 255, 255, 0.396078431372549);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:111px;
  width:1530px;
  height:994px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u61 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u61_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1530px;
  height:170px;
  background:inherit;
  background-color:rgba(3, 0, 132, 0.6470588235294118);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1105px;
  width:1530px;
  height:170px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u62 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u62_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1530px;
  height:110px;
  background:inherit;
  background-color:rgba(3, 0, 132, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:1530px;
  height:110px;
  display:flex;
  opacity:0.5;
  transition:none;
  transform-origin:50% 50%;
}
#u63 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:54px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:167px;
  width:398px;
  height:170px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:54px;
}
#u64 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:30px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:337px;
  width:222px;
  height:72px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:30px;
}
#u65 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:30px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:409px;
  width:296px;
  height:80px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:30px;
}
#u66 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u66_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
