body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1530px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1530px;
  height:994px;
  background:inherit;
  background-color:rgba(128, 255, 255, 0.396078431372549);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:111px;
  width:1530px;
  height:994px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u28 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1530px;
  height:170px;
  background:inherit;
  background-color:rgba(3, 0, 132, 0.6470588235294118);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1105px;
  width:1530px;
  height:170px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u29 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:882px;
  height:378px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:30px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:111px;
  width:882px;
  height:378px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:30px;
}
#u30 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u30_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:473px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:35px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:632px;
  width:854px;
  height:473px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:35px;
}
#u31 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1530px;
  height:143px;
  background:inherit;
  background-color:rgba(117, 224, 205, 0.996078431372549);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:489px;
  width:1530px;
  height:143px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u32 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1530px;
  height:110px;
  background:inherit;
  background-color:rgba(3, 0, 132, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:1530px;
  height:110px;
  display:flex;
  opacity:0.5;
  transition:none;
  transform-origin:50% 50%;
}
#u33 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:49px;
  background:inherit;
  background-color:rgba(2, 133, 189, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Impact Обычный", "Impact", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#F2F2F2;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:27px;
  width:169px;
  height:49px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Impact Обычный", "Impact", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#F2F2F2;
}
#u34 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:49px;
  background:inherit;
  background-color:rgba(2, 133, 189, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Impact Обычный", "Impact", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:27px;
  width:143px;
  height:49px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Impact Обычный", "Impact", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u35 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:37px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u36_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:37px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u36_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:37px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u36_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:37px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:15px;
  width:248px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u36 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u36_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u36.hint {
}
#u36_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:37px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u36.disabled {
}
#u36_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:37px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u36.hint.disabled {
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:49px;
  background:inherit;
  background-color:rgba(2, 133, 189, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Impact Обычный", "Impact", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:27px;
  width:143px;
  height:49px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Impact Обычный", "Impact", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u37 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:58px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Impact Обычный", "Impact", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:1357px;
  top:27px;
  width:146px;
  height:58px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Impact Обычный", "Impact", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u38 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:49px;
  background:inherit;
  background-color:rgba(2, 133, 189, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Impact Обычный", "Impact", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:27px;
  width:143px;
  height:49px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Impact Обычный", "Impact", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u39 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:44px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Impact Обычный", "Impact", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:1144px;
  top:51px;
  width:130px;
  height:44px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Impact Обычный", "Impact", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u40 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u40_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:149px;
  width:648px;
  height:303px;
  display:flex;
  transition:none;
}
#u41 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:648px;
  height:303px;
}
#u41_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:695px;
  width:676px;
  height:348px;
  display:flex;
  transition:none;
}
#u42 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:348px;
}
#u42_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
