body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1530px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1530px;
  height:110px;
  background:inherit;
  background-color:rgba(3, 0, 132, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:1530px;
  height:110px;
  display:flex;
  opacity:0.5;
  transition:none;
  transform-origin:50% 50%;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1530px;
  height:2161px;
  background:inherit;
  background-color:rgba(128, 255, 255, 0.396078431372549);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:111px;
  width:1530px;
  height:2161px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:49px;
  background:inherit;
  background-color:rgba(2, 133, 189, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Impact Обычный", "Impact", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#F2F2F2;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:27px;
  width:185px;
  height:49px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Impact Обычный", "Impact", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#F2F2F2;
}
#u2 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:49px;
  background:inherit;
  background-color:rgba(2, 133, 189, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Impact Обычный", "Impact", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:27px;
  width:143px;
  height:49px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Impact Обычный", "Impact", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:37px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:37px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:37px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:37px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Обычный", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:15px;
  width:248px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4.hint {
}
#u4_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:37px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4.disabled {
}
#u4_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:37px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4.hint.disabled {
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:49px;
  background:inherit;
  background-color:rgba(2, 133, 189, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Impact Обычный", "Impact", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:27px;
  width:143px;
  height:49px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Impact Обычный", "Impact", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:58px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Impact Обычный", "Impact", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:1374px;
  top:27px;
  width:137px;
  height:58px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Impact Обычный", "Impact", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:77px;
  background:inherit;
  background-color:rgba(128, 255, 255, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:30px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:506px;
  width:239px;
  height:77px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:30px;
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:77px;
  background:inherit;
  background-color:rgba(128, 255, 255, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:30px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:506px;
  width:239px;
  height:77px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:30px;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:237px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:25px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:583px;
  width:518px;
  height:237px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:25px;
}
#u9 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:237px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:25px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:943px;
  top:583px;
  width:518px;
  height:237px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:25px;
}
#u10 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:49px;
  background:inherit;
  background-color:rgba(2, 133, 189, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Impact Обычный", "Impact", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:27px;
  width:143px;
  height:49px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Impact Обычный", "Impact", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:44px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Impact Обычный", "Impact", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:52px;
  width:130px;
  height:44px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Impact Обычный", "Impact", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:77px;
  background:inherit;
  background-color:rgba(128, 255, 255, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:30px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:1220px;
  width:239px;
  height:77px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:30px;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:77px;
  background:inherit;
  background-color:rgba(128, 255, 255, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:30px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:1220px;
  width:239px;
  height:77px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:30px;
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:237px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:25px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:1297px;
  width:575px;
  height:237px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:25px;
}
#u15 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:237px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:25px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:943px;
  top:1297px;
  width:518px;
  height:237px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:25px;
}
#u16 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:77px;
  background:inherit;
  background-color:rgba(128, 255, 255, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:30px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:1934px;
  width:239px;
  height:77px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:30px;
}
#u17 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:77px;
  background:inherit;
  background-color:rgba(128, 255, 255, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:30px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:1934px;
  width:239px;
  height:77px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:30px;
}
#u18 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:237px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:25px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:2011px;
  width:555px;
  height:237px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:25px;
}
#u19 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:237px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:25px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:2011px;
  width:555px;
  height:237px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:25px;
}
#u20 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:183px;
  width:555px;
  height:323px;
  display:flex;
  transition:none;
}
#u21 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:323px;
}
#u21_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:183px;
  width:555px;
  height:323px;
  display:flex;
  transition:none;
}
#u22 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:323px;
}
#u22_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:897px;
  width:555px;
  height:323px;
  display:flex;
  transition:none;
}
#u23 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:323px;
}
#u23_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:897px;
  width:555px;
  height:323px;
  display:flex;
  transition:none;
}
#u24 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:323px;
}
#u24_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:1604px;
  width:555px;
  height:330px;
  display:flex;
  transition:none;
}
#u25 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:330px;
}
#u25_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:1604px;
  width:555px;
  height:330px;
  display:flex;
  transition:none;
}
#u26 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:330px;
}
#u26_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1530px;
  height:170px;
  background:inherit;
  background-color:rgba(3, 0, 132, 0.6470588235294118);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2272px;
  width:1530px;
  height:170px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u27 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:41px;
  color:rgba(255, 255, 255, 0.6980392156862745);
}
#u28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2272px;
  width:140px;
  height:85px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:41px;
  color:rgba(255, 255, 255, 0.6980392156862745);
}
#u28 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:28px;
  color:rgba(255, 255, 255, 0.6980392156862745);
}
#u29 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:2272px;
  width:228px;
  height:53px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:28px;
  color:rgba(255, 255, 255, 0.6980392156862745);
}
#u29 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:28px;
  color:rgba(255, 255, 255, 0.6980392156862745);
}
#u30 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:2272px;
  width:228px;
  height:53px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:28px;
  color:rgba(255, 255, 255, 0.6980392156862745);
}
#u30 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:28px;
  color:rgba(255, 255, 255, 0.6980392156862745);
}
#u31 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:2272px;
  width:228px;
  height:53px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:28px;
  color:rgba(255, 255, 255, 0.6980392156862745);
}
#u31 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:28px;
  color:rgba(255, 255, 255, 0.6980392156862745);
}
#u32 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:2325px;
  width:228px;
  height:53px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:28px;
  color:rgba(255, 255, 255, 0.6980392156862745);
}
#u32 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:28px;
  color:rgba(255, 255, 255, 0.6980392156862745);
}
#u33 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:2325px;
  width:240px;
  height:53px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:28px;
  color:rgba(255, 255, 255, 0.6980392156862745);
}
#u33 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:2357px;
  width:117px;
  height:83px;
  display:flex;
  transition:none;
}
#u34 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:83px;
}
#u34_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:28px;
  color:rgba(255, 255, 255, 0.6980392156862745);
}
#u35 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:2378px;
  width:240px;
  height:53px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:28px;
  color:rgba(255, 255, 255, 0.6980392156862745);
}
#u35 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:28px;
  color:rgba(255, 255, 255, 0.6980392156862745);
}
#u36 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:2372px;
  width:228px;
  height:53px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:28px;
  color:rgba(255, 255, 255, 0.6980392156862745);
}
#u36 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u36_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:28px;
  color:rgba(255, 255, 255, 0.6980392156862745);
}
#u37 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:2272px;
  width:228px;
  height:53px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:28px;
  color:rgba(255, 255, 255, 0.6980392156862745);
}
#u37 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:2325px;
  width:98px;
  height:64px;
  display:flex;
  transition:none;
}
#u38 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:64px;
}
#u38_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:28px;
  color:rgba(255, 255, 255, 0.6980392156862745);
}
#u39 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:2389px;
  width:149px;
  height:53px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:28px;
  color:rgba(255, 255, 255, 0.6980392156862745);
}
#u39 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:2321px;
  width:98px;
  height:68px;
  display:flex;
  transition:none;
}
#u40 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:68px;
}
#u40_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:28px;
  color:rgba(255, 255, 255, 0.6980392156862745);
}
#u41 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:2389px;
  width:121px;
  height:53px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:28px;
  color:rgba(255, 255, 255, 0.6980392156862745);
}
#u41 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:1164px;
  top:2314px;
  width:80px;
  height:80px;
  display:flex;
  transition:none;
}
#u42 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u42_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:1344px;
  top:2314px;
  width:80px;
  height:80px;
  display:flex;
  transition:none;
}
#u43 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u43_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:1253px;
  top:2317px;
  width:80px;
  height:80px;
  display:flex;
  transition:none;
}
#u44 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u44_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
